<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="POST">
					<span class="login100-form-title p-b-51">
						MESAJLAŞMA UYGULAMASI
					</span>

					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="name" placeholder="Adınız">
					</div>

					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="surname" placeholder="Soyadınız">
					</div>

					
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="mail" placeholder="E-mail">
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="password" name="password" placeholder="Şifre">
					</div>

					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="password" name="repeatPassword" placeholder="Şifre Tekrar">
					</div>
					
					<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox"></div>

						<div>
							<a href="/login" class="txt1">
								Zaten bir hesabım var.
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" id="registerButton">
							Kayıt Ol
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	<script src="js/register.js"></script>
</body>
</html>